<tr>
  <td class="center aligned">
    <%= number&.id %>
  </td>
  <td class="center aligned">
    <%= number&.phone %>
  </td>
  <td class="center aligned">
    <%= number&.info_agree %>
  </td>
  <td class="center aligned">
    <%= number&.confirm_number %>
  </td>
  <td class="center aligned">
    <%= number&.confirm_check %>
  </td>
  <td class="center aligned">
    <%= number&.created_at %>
  </td>
</tr>